<div class="div-header">
    <h1>SEGURANÇA DO TRABALHO E ERGONOMIA</h1>
</div>

<div class="seguranca padrao">
    <div class="conteudo-img">
        <img src="assets\ilovepdf_images-extracted\seguranca2.jpg" alt="" 
        class="mat-elevation-z2">
    </div>
    <div class="conteudo-texto">
        <p>
            A Pneco Pisos além do compromisso com o meio ambiente 
            e com os seus clientes, preza pela segurança e bem estar 
            de seus colaboradores, por isso adota todas as medidas de 
            Segurança do Trabalho para minimizar os acidentes e as 
            doenças ocupacionais.
        </p>
        <p>
            Segue as medidas de segurança no trabalho que são 
            definidas por normas regulamentadoras e leis da ABNT.
        </p>
        <p>
            Também aplica a Ergonomia no ambiente de trabalho, 
            oferecendo o conforto adequado, além de métodos de 
            prevenção de acidentes e de patologias que podem surgir 
            para cada tipo de atividade executada.
        </p>
    </div>
    <div class="conteudo-img">
        <img src="assets\ilovepdf_images-extracted\seguranca1.jpg" alt="" 
        class="mat-elevation-z2">
    </div>
</div>

<div class="div-header">
    <h1>ARMAZENAGEM</h1>
</div>

<div class="armazenagem padrao">
    <div class="conteudo-text-arm">
        <h1 class="titulos-div">ARMAZENAGEM</h1>
        <p>
            A matéria- prima, são colocadas em big bags e 
            sacarias de 30kg que são acondicionados em 
            prateleiras.
        </p>
        <p>
            As placas acabadas são apoiadas em paletes, em 
            local limpo, arejado e distante de produtos 
            químicos. São feitas pilhas de no máximo quinze 
            peças, na horizontal (não devem ser dobradas). 
        </p>
        <p>
            Cada pilha é identificada através de etiquetas com 
            códigos de barras e seu endereçamento é feito por 
            ruas, edifícios, andares e apartamentos, o Sistema 
            ERP é utilizado para a localização.
        </p>
        <p>
            Empilhadeiras e carrinhos são usados para o 
            deslocamento dos materiais.
        </p>
    </div>
    <div class="conteudo-img-arm">
        <div style="margin-right: -40px;">
            <img src="assets\ilovepdf_images-extracted\armazenagem1.jpg" alt="" class="mat-elevation-z2">
            <img src="assets\ilovepdf_images-extracted\armazenagem2.jpg" alt="" class="mat-elevation-z2">
        </div>
        <div>
            <img src="assets\ilovepdf_images-extracted\armazenagem4.jpg" alt="" class="mat-elevation-z2">
            <img src="assets\ilovepdf_images-extracted\armazenagem3.jpg" alt="" class="mat-elevation-z2">
        </div>
    </div>
</div>

<div class="gestao-estoque padrao">
    <div class="conteudo-img-ge">
        <img src="assets\ilovepdf_images-extracted\estoque-inv.jpg" alt="" class="mat-elevation-z2">
    </div>
    <div class="conteudo-texto-ge">
        <h1 class="titulos-div">GESTÃO DE ESTOQUE E INVENTÁRIO</h1>
        <p>
            Na Pneco Pisos sempre é levado em consideração a 
            demanda de pedidos, para manter um estoque enxuto, 
            facilitando o giro e garantindo que não haja falta de 
            matéria prima e nem de produto.
        </p>
        <p>
            O inventário é realizado mensalmente; preferencialmente 
            no último fim de semana do mês (não há expediente).
            Os itens contados no inventário são: matéria prima, 
            produto em processo e produto acabado.
        </p>
        <p>
            A ferramenta utilizada para esse processo é um Sistema 
            ERP com controle de estoque integrado e todos os itens 
            possuem código de barras que auxiliam na padronização 
            dos estoques. Permite que os profissionais registrem e 
            quantifiquem os produtos e insumos com mais rapidez, 
            facilitando o trabalho com eficiência e qualidade das 
            operações.
        </p>
    </div>
</div>

<div class="gestao-frotas padrao">
    <div class="conteudo-texto-gf">
        <h1 class="titulos-div">ETAPAS DO PNEU NA GESTÃO DE FROTAS</h1>
        <p>
            Os pneus aplicados aos veículos de uma empresa 
            representam um investimento muito valioso e seu 
            desempenho sofre influência de muitos 
            parâmetros, que são analisados através 
            do Gerenciamento de pneus pelo Gestor de frotas.
        </p>
        <p>
            O Gerenciamento de pneus, é o processo que 
            proporciona uma maior durabilidade dos pneus, 
            contribuindo assim para o reaproveitamento dos 
            mesmos.
        </p>
        <p>
            Suas etapas são: <br> aquisição, utilização, reforma, 
            sucateamento e descarte.
        </p>
    </div>
    <div class="conteudo-img-gf">
        <img src="assets\ilovepdf_images-extracted\gestao-frotas.jpg" alt="" class="mat-elevation-z2">
    </div>
</div>