<mat-toolbar class="mat-elevation-z2">
    <span class="logo" routerLink="/">
        <img src="assets/logo-pneco2.jpg" alt="Pneco" style="height: 40px; margin-left: 30px; 
                                                        border-radius: 10px;">
        <span style="margin-left: 10px; font-weight: 600; color: #fff;">PNECO</span>
    </span>
    <span class="copyright">Copyright <mat-icon>copyright</mat-icon> PNECO-PISOS</span>
    <span class="spacer"></span>
    <span>Desenvolvido por <b>Pedro Bandeira</b></span>
</mat-toolbar>