<div class="div-header">
  <h1>PNECO PISOS</h1>
  <p>Conheça um pouco mais sobre nós.</p>
</div>

<div class="div-empresa">
  <div class="content-left">
    <p>
      Somos a Pneco Pisos, uma empresa fabricante de pisos ecológicos, utilizando como matéria- prima borracha de pneus inservíveis. 
      O nome da nossa empresa é a junção das palavras: <br>
      <b>PNEU + ECOLÓGICO= PNECO.</b> <br>
      Viemos com uma proposta inovadora, através de processos de pesquisas e desenvolvimento, para trazer soluções de uma forma sustentável, que seja tendência no mercado de arquitetura, construção, acessibilidade e reduzir lesões por impacto.
      Nosso logo já ilustra o princípio da nossa idéia, o pneu.
    </p>
  </div>

  <div class="content-right">
    <img src="assets/logo-bg.png" alt="">
  </div>
</div>

<div class="div-historia">
  <h1>A HISTÓRIA DA PNECO PISOS</h1>

  <p>
    Na periferia de São Paulo, haviam quatro irmãos, que moravam próximos a um terreno onde 
    descartavam pneus velhos e usados, onde muitas vezes esses pneus eram queimados e geravam 
    uma fumaça muito grande podendo ocasionar intoxicação. <br>
    No ano de 2009, uma dessas irmãs conseguiu uma bolsa de estudos em uma universidade renomada 
    na região Centro Oeste. Logo teve a idéia em transformar pneus, em algo útil para a sociedade, 
    criando um projeto, onde juntaria, inovação, qualidade de vida, acessibilidade, mas principalmente 
    sustentabilidade. Criou então os pisos ecológicos a partir da borracha de pneus usados. <br>
    No ano de 2010 com a parceria de dois colegas de universidade, fundaram a Pneco Pisos, 
    que hoje conta com uma estrutura de xx colaboradores, uma fábrica e um centro logístico na região Centro Oeste, uma Sede Administrativa e um Centro de Coleta próprio na cidade de São Paulo, um projeto Social e parceria com os Postos Texaco.
  </p>
</div>

<div class="div-mvv">
  <div class="content">
    <div class="content-missao">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mat-icon>business</mat-icon></div>
          <mat-card-title>Missão</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Transformar o pneu em algo benéfico para a sociedade, visando sustentabilidade,
            acessibilidade e inclusão social.
          </p>
        </mat-card-content>
      </mat-card>      
    </div>
  
    <div class="content-visao">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mat-icon>visibility</mat-icon></div>
          <mat-card-title>Visão</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ser líder em soluções inovadoras na fabricação de pisos ecológicos.
          </p>
        </mat-card-content>
      </mat-card>  
    </div>
  
    <div class="content-valores">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mat-icon>attach_money</mat-icon></div>
          <mat-card-title>Valores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Compromisso com o meio ambiente, comprometimento ético, 
            excelência com simplicidade, qualidade e eficiência, respeito e integridade.
          </p>
        </mat-card-content>
      </mat-card> 
    </div>
  </div>
</div>