<div class="mat-elevation-z">
    <mat-card class="card-top">
        <mat-card-header style="text-align: center; width: 100%; display: flex; justify-content: center;">
          <mat-card-title style="font-size: 2rem;">Sobre nossa empresa</mat-card-title>
          <mat-card-subtitle>Pneco Pisos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content>
          <p style="font-size: 1.1rem; line-height: 1.4rem;">
            O nome da nossa empresa é a junção das palavras: <br>
            PNEU + ECOLÓGICO= PNECO. <br> <br>
            Viemos com uma proposta inovadora, através de processos de pesquisas e desenvolvimento, 
            para trazer soluções de uma forma sustentável, que seja tendência no mercado de arquitetura, 
            construção, acessibilidade e reduzir lesões por impacto. <br>
            Nosso logo já ilustra o princípio da nossa idéia, o pneu.
          </p>
        </mat-card-content>
    </mat-card>
</div>

<!--Historia-->
<mat-card class="card-top mat-elevation-z2">
    <mat-card-header style="text-align: center; width: 100%; display: flex; justify-content: center;">
        <mat-card-title style="font-size: 2rem;">Nossa Historia</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="" alt="">
    <mat-card-content>
        <p style="font-size: 1.1rem; line-height: 1.4rem;">
        Na periferia de São Paulo, haviam quatro irmãos, que moravam próximos a um terreno onde descartavam 
        pneus velhos e usados, onde muitas vezes esses pneus eram queimados e geravam uma fumaça muito grande 
        podendo ocasionar intoxicação. <br>
        No ano de 2009, uma dessas irmãs conseguiu uma bolsa de estudos em uma universidade renomada na 
        região Centro Oeste. Logo teve a idéia em transformar pneus, em algo útil para a sociedade, 
        criando um projeto, onde juntaria, inovação, qualidade de vida, acessibilidade, mas principalmente 
        sustentabilidade. Criou então os pisos ecológicos a partir da borracha de pneus usados. <br>
        No ano de 2010 com a parceria de dois colegas de universidade, fundaram a Pneco Pisos, que hoje 
        conta com uma estrutura de xx colaboradores, uma fábrica e um centro logístico na região 
        Centro Oeste, uma Sede Administrativa e um Centro de Coleta próprio na cidade de São Paulo, 
        um projeto Social e parceria com os Postos Texaco.
        </p>
    </mat-card-content>
</mat-card>