<mat-toolbar class="mat-elevation-z2">
    <span class="logo" routerLink="/">
        <img src="assets/logo-pneco.png" alt="Pneco" style="height: 50px; margin-left: 30px;">
        <span style="margin-left: 10px; font-weight: 600; color: #b3cccc;">PNECO</span>
    </span>
    <span class="spacer"></span>

    <div class="links">
        <a routerLink="/">INICIO</a>
        <a routerLink='/sobre'>SOBRE</a>
        <a routerLink='/produto'>PRODUTO</a>
    </div>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>