<mat-toolbar class="mat-elevation-z2">
    <span class="logo" routerLink="/">
        <img src="assets/logo-pneco2.jpg" alt="Pneco" style="height: 40px; margin-left: 30px;
                                                                border-radius: 10px;">
        <span style="margin-left: 10px; font-weight: 600; color: #a3c2c2;">PNECO</span>
    </span>
    <span class="spacer"></span>

    <div class="links">
        <a routerLink="/">INICIO</a> <span>|</span>
        <a routerLink='/sobre'>SOBRE</a> <span>|</span>
        <a routerLink='/produto'>PRODUTO</a> <span>|</span>
        <a routerLink='/seguranca-estoque'>SEGURANÇA E ESTOQUE</a> <span>|</span>
        <a routerLink='/sustentabilidade'>SUSTENTABILIDADE</a> <span>|</span>
        <a routerLink='/cliente'>CLIENTE</a> <span>|</span>
        <a routerLink='/problematizacao'>PROBLEMATIZAÇÃO</a>
    </div>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>