<mat-toolbar class="mat-elevation-z2">
    <span style="font-weight: bold; display: flex; align-items: center;">
        <img src="assets/logo-pneco.png" alt="Pneco" style="height: 55px; margin-left: 30px;">
        <span>PNECO</span>
    </span>
    <span class="spacer"></span>

    <div class="links">
        <a routerLink="/">INICIO</a>
        <a routerLink='/sobre'>SOBRE</a>
        <a routerLink='/produto'>PRODUTO</a>
        <a>SERVICOS</a>
    </div>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>