<div style="background-color: #f0f0f0; padding-top: 10px;">
    <h1 style="width: 100%; text-align: center; margin-bottom: 5px; font-size: 1.2rem; font-weight: 600; color: darkgreen;">PERFIL DO CLIENTE</h1>
    <div class="perfil-clients">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Arquitetos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/clientes/arquiteto.jpg" alt="arquiteto">
            <mat-card-content>
              <p>
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Decoradores</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/clientes/decoradores.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Paisagistas</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/clientes/paisagista.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title style="font-size: 1rem;">Lojistas / Casas de Material de Construção</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/clientes/casa-construcao.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Consumidor sustentável</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/clientes/consumidor.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="princ-clientes">
    <h1>CLIENTES ATENDIDOS</h1>
    <div class="line-clientes">
        <img src="assets/clientes/logo-clientes-alphaville.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-brookfield.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-colegio-marista.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-even.png" alt="" class="cliente-item">
    </div>
    <p></p>
    <div>
        <img src="assets/clientes/logo-clientes-prefeitura-rio-de-janeiro.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-prefeitura-sao-paulo.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-red-balloon.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-senac.png" alt="" class="cliente-item">
    </div>
    <p></p>
    <div>
        <img src="assets/clientes/logo-clientes-senai.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-sesc.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-sesi.png" alt="" class="cliente-item">
        <img src="assets/clientes/logo-clientes-unip.png" alt="" class="cliente-item">
    </div>
</div>

<div class="canais-relac">
  <div class="conteudo-texto-canais">
    <h1>CANAIS DE RELACIONAMENTO</h1>
    <p>
        Possuem uma equipe treinada para oferecer um 
        atendimento personalizado, consultoria para o melhor 
        formato de piso para seu projeto, rapidez na entrega e 
        garantia estendida.
    </p>
    <p>
        Contam também com um pós venda diferenciado, pois a
        relação de compra de um piso de borracha seguro, com 
        qualidade e durável não se acaba após a instalação do piso.
    </p>
    <p>
      <span>
        Atendimento via SAC (serviço de atendimento ao 
        consumidor);
      </span>
    </p>
    <p>
      <span>
        Mídias Sociais
      </span>
    </p>
    <p>
      <span>
        Revistas do ramo de casa, decoração e construção.
      </span>
    </p>
  </div>
  <div class="conteudo-img-canais">
    <div>
      <img src="assets\ilovepdf_images-extracted\canal1.jpg" alt="" 
      class="mat-elevation-z2">
      <img src="assets\ilovepdf_images-extracted\canal2.jpg" alt="" 
      class="mat-elevation-z2">
    </div>
    <div>
      <img src="assets\ilovepdf_images-extracted\canal3.jpg" alt="" 
      class="mat-elevation-z2" style="width: 160px;">
    </div>
  </div>
</div>