<div class="div-header">
    <h1>SUSTENTABILIDADE</h1>
</div>

<div class="sustentabilidade">
    <div class="conteudo-texto-sustentabilidade">
        <h1>SUSTENTABILIDADE</h1>
        <p>
            Sabemos que o tempo de decomposição do pneu usado 
            pode chegar a 600 anos.
        </p>
        <p>
            Ao colocar um piso de borracha de pneu reciclado, além 
            de possuir uma moderna solução em pisos com 
            diversos diferenciais em relação aos convencionais, 
            você contribuirá com a natureza começando dentro do 
            seu ambiente.
        </p>
        <p>
            Quatro pneus que são reciclados equivale a cada 
            1m2 de piso drenante de borracha.
        </p>
        <p>
            A Pneco Pisos se orgulha de já terem instalado mais de 
            100 mil m2 de piso de borracha reciclada para mais de 
            700 clientes trazendo vida nova para mais de 500 mil 
            pneus.
        </p>
    </div>
</div>

<div class="resposabilidade">
    <div class="conteudo-texto-respo">
        <h1>RESPONSABILIDADE SOCIAL</h1>
        <p>
            O sistema de descarte e recolhimento de pneus usados no 
            Brasil ainda é um grande problema ambiental. 
        </p>
        <p>
            Pensando nisso, foi criado o Projeto Social “Caminhos”, 
            localizado em São Paulo, tem o intuito em mostrar para as 
            crianças da comunidade uma maneira de utilizar o que era 
            até então lixo, em uma oportunidade de mudar o futuro.
        </p>
        <p>
            Atualmente são 50 crianças que participam de oficinas de 
            artesanato, horta orgânica e atividades recreativas.
        </p>
        <p>
            <span style="color: darkgreen;">
                *Nesse momento de pandemia, as atividades estão 
                suspensas, porém voluntários realizam o cultivo dos 
                alimentos da horta e destina para as famílias, 
                juntamente com uma cesta básica.
            </span>
        </p>
    </div>
</div>