<div class="div-header">
    <h1>PROBLEMATIZAÇÃO</h1>
</div>

<div class="problematizacao">
    <div class="conteudo-texto-problem">
        <h1 class="titulos-div">OTIMIZAÇÃO DOS PROCESSOS LOGÍSTICOS</h1>
        <p>
            Dispõe de um único fornecedor <span style="color: darkgreen;">(CBL Reciclagem) </span> 
            de matéria prima, que tem entrega própria nas 
            regiões Sul, Sudeste e Nordeste, porém na região 
            Centro Oeste, onde se localiza a fábrica, a entrega 
            é realizada por uma empresa terceirizada.
        </p>
        <br>
        <p>
            Muitas vezes a matéria prima é recebida com 
            atraso, fazendo consequentemente com que os 
            pedidos fiquem atrasados, trazendo transtornos 
            com os clientes.
        </p>
    </div>
    <div class="conteudo-img-problem">
        <div style="margin-right: -30px;">
            <img src="assets\ilovepdf_images-extracted\problema1.jpg" alt="" 
            class="mat-elevation-z2" style="margin-bottom: 5px;">
            <img src="assets\ilovepdf_images-extracted\problema2.jpg" alt="" 
            class="mat-elevation-z2">
        </div>
        <div>
            <img src="assets\ilovepdf_images-extracted\problema3.jpg" alt="" 
            class="mat-elevation-z2" style="margin-bottom: 5px;">
            <img src="assets\ilovepdf_images-extracted\problema4.jpg" alt="" 
            class="mat-elevation-z2">
        </div>
    </div>
</div>


<div class="div-header">
    <h1>SOLUÇÃO</h1>
</div>

<div class="solucao">
    <div class="conteudo-img-solucao">
        <div style="margin-right: -30px;">
            <img src="assets\ilovepdf_images-extracted\solucao1.jpg" alt="" 
            class="mat-elevation-z2" style="margin-bottom: 5px;">
            <img src="assets\ilovepdf_images-extracted\solucao5.png" alt="" 
            class="mat-elevation-z2">
        </div>
        <div>
            <img src="assets\ilovepdf_images-extracted\negociacao3.jpg" alt="" 
            class="mat-elevation-z2" style="margin-bottom: 5px;">
            <img src="assets\ilovepdf_images-extracted\negociacao2.jpg" alt="" 
            class="mat-elevation-z2">
        </div>
    </div>
    <div class="conteudo-texto-solucao">
        <p>
            A criação de um projeto piloto, onde foi implementado o próprio Centro de Coleta, 
            que são destinados os pneus recolhidos dos Ecopontos 
            (Postos de Gasolina Boxter e Projeto), lá são separados e triturados os 
            pneus de passeio para a produção da matéria- prima e os demais pneus são estocados 
            e posteriormente enviados para o fornecedor. 
        </p>
        <p>
            Nesta operação é realizado o frete de retorno, ou seja, a matéria-prima é recebida 
            e no mesmo transporte são enviados os pneus que não serão triturados na empresa.
        </p>
        <p>
            Recebimento de toda a matéria-prima passou a ser no Centro de Coleta e não mais na fábrica, 
            dessa forma é possível controlar a quantidade recebida e avaliar a necessidade de 
            fabricação própria. Deixando um estoque mínimo para casos de contingência.
        </p>
    </div>
</div>

<div class="div-header">
    <h1>ANÁLISE SWOT</h1>
</div>

<div class="analise-swot">
    <img src="assets/SWOT.jpg" alt="SWOT">
</div>

<div class="div-header">
    <h1>CONCLUSÃO</h1>
</div>
<div class="conclusao">
    <div class="conteudo-img-conclusao">
        <img src="assets/conclusao.jpg" alt="conclusão">
    </div>
    
    <div class="conteudo-texto-conclusao">
        <p>
            Concluímos que a solução para o problema apresentado, além de resolver a questão com 
            atrasos no recebimento e entrega de matéria-prima e produto, trouxe uma nova possibilidade 
            de praticar a missão da empresa, que é transformar o pneu em algo benéfico para a sociedade.
        </p>
        <p>
            Desta forma, criou-se o projeto piloto, com a parceria dos Postos de gasolina Boxter 
            (que assim como a Pneco Pisos estão em fase de crescimento), para que os pneus possam 
            ser descartados de forma correta e terem um novo destino.
        </p>
        <p>
            Adotando algumas práticas é possível manter o cumprimento das metas e o crescimento 
            do negócio por meio da economia de recursos e da redução do impacto ambiental.
        </p>
    </div>
</div>