<div class="div-header">
    <h1>PROBLEMATIZAÇÃO</h1>
</div>

<div class="problematizacao">
    <div class="conteudo-texto-problem">
        <h1>Otimização dos Processos Logísticos</h1>
        <p>
            Dispõe de um único fornecedor (CBL Reciclagem) 
            de matéria prima, que tem entrega própria nas 
            regiões Sul, Sudeste e Nordeste, porém na região 
            Centro Oeste, onde se localiza a fábrica, a entrega 
            é realizada por uma empresa terceirizada.
        </p>
        <p>
            Muitas vezes a matéria prima é recebida com 
            atraso, fazendo consequentemente com que os 
            pedidos fiquem atrasados, trazendo transtornos 
            com os clientes.
        </p>
    </div>
</div>


<div class="div-header">
    <h1>SOLUÇÃO</h1>
</div>

<div class="solucao">
    <div class="conteudo-texto-solucao">
        <p>
            Implementaram o próprio centro de coleta e 
            produção da matéria- prima, com uma máquina que 
            tritura apenas pneus de passeio.
        </p>
        <p>
            A quantidade que produzida é menor do que a 
            necessária devido a estrutura, porém geraram 
            matéria- prima em casos de urgência.
        </p>
        <p>
            Passaram a receber toda a matéria-prima no Centro 
            de Coleta e não mais na fábrica, dessa forma 
            conseguem controlar a quantidade recebida, 
            avaliando a necessidade de fabricação própria. 
            Deixando um estoque mínimo.
        </p>
        <p>
            Estão sendo estudadas possibilidades de expansão 
            dessa produção para não dependerem somente do 
            fornecedor, no qual é mantida uma relação confiável 
            de mais de 10 anos.
        </p>
    </div>
</div>

<div class="div-header">
    <h1>ANALISE SWOT</h1>
</div>

<div class="analise-swot">
    <img src="assets/SWOT.jpg" alt="SWOT">
</div>