<div class="container">
  <div class="background-image"></div>

  <div class="mat-elevation-z2 first-div">
    <h1>Bem vindo a PNECO!</h1>
    <h3>Inovação sustentável aos seus pés</h3>

    <p style="font-size: 1.1rem; max-width: 400px;">
      Somos a Pneco Pisos, uma empresa fabricante de pisos ecológicos,
      utilizando como matéria- prima borracha de pneus inservíveis.
    </p>

    <mat-card-actions>
      <button mat-button class="buttons" (click)="navigateToAbout()">Saiba Mais</button>
    </mat-card-actions>
  </div>
</div>