<div class="container">
  <div class="background-image"></div>

  <div class="mat-elevation-z2 first-div">
    <h1>Bem vindo a PNECO!</h1>
    <h3>Inovação sustentável aos seus pés</h3>

    <p style="font-size: 1.1rem; max-width: 400px;">
      Somos a Pneco Pisos, uma empresa fabricante de pisos ecológicos,
      utilizando como matéria- prima borracha de pneus inservíveis.
    </p>

    <mat-card-actions>
      <button mat-button class="buttons" (click)="navigateToAbout()">Saiba Mais</button>
    </mat-card-actions>
  </div>

  <div class="mat-elevation-z2 integrantes-div">
    <h1>PROJETO INTEGRADOR</h1>
    <h3>Integrantes:</h3>

    <ul>
      <li>Daniarley</li>
      <li>Deise</li>
      <li>Giovanna S.</li>
      <li>Leandro</li>
      <li>Michele</li>
    </ul>

    <p><span style="color: lightgreen; font-weight: 500;">Turma: </span> TL10N</p>
    <p><span style="color: lightgreen; font-weight: 500;">Docente: </span> Marina Palma</p>
  </div>

</div>
<div class="introducao">
  <div class="content-left">
    <h1>INTRODUÇÃO</h1>
    <p>A problemática em torno do meio ambiente não para e, cada 
      vez mais este tema é levado as discussões para a 
      reorganização de comportamento da sociedade e empresas.
    </p>
    <p>
      O intuito dessas discussões é levantar o maior número de 
      alternativas possíveis para a reciclagem e reaproveitamento 
      dos pneus usados que se acumulam pelo mundo inteiro.
    </p>
    <p>
      Uma opção para lidar com o problema do descarte de pneus é 
      a <b>logística reversa</b> que trabalha com o ciclo reverso, ou seja, 
      com a volta da utilização de materiais que já foram 
      descartados, no caso dos pneus ela tem um papel 
      fundamental.
    </p>
    <p>
      Através da logística reversa, serão apresentadas algumas 
      formas de transformar o problema que pneus velhos podem 
      trazer a sociedade em soluções que trariam benefícios a ela e a 
      natureza.
    </p>
  </div>

  <div class="content-right">
    <img src="assets/pneu-intro.jpg" alt="">
  </div>
</div>

<div class="div-vantagem">
  <h1>O QUE É PNEU? E SEU CICLO CORRETO</h1>
  <div class="content-div-vantagem">
    <div class="content-left2">
      <img src="assets/ciclo-pneu.jpeg" alt="ciclo-pneu">
    </div>
  
    <div class="content-right2">
      <p>
        <span style="color: darkgreen;">Pneu</span> é um anel de borracha inflado à fluido que 
        reveste as rodas dos veículos, sendo o único contato 
        entre o equipamento e o solo. <br>
        Seu ciclo após a fabricação:   
      </p>

      <p><span style="color: darkgreen;">1.</span> Saem da fábrica;</p>
      <p><span style="color: darkgreen;">2.</span> São enviados para as Lojas, onde são vendidos;</p>
      <p><span style="color: darkgreen;">3.</span> Quando não proporcionem segurança para o 
        usuário, deverão ser encaminhados para uma 
        <span style="color: darkgreen;">reformadora</span>;</p>
      <p><span style="color: darkgreen;">4.</span> Ao atingir o seu limite natural de uso, o pneu 
        será enviado aos Ecopontos;</p>
      <p><span style="color: darkgreen;">5.</span> Destinação do resíduo;</p>
      <p><span style="color: darkgreen;">6.</span> Matéria-prima para a indústria (para fabricação 
        de pisos, pavimentação etc.)</p>
    </div>
  </div>
</div>