.div-header {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    background-color: #b3cccc;
    padding: 40px 0 35px 0;
}
.div-header h1 {
    font-weight: 500;
    font-size: 2.5rem;
}
.div-header p {
    font-weight: 400;
    font-size: 1rem;
}

.div-produto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    padding: 20px 50px 20px 50px;
}
.content-left {
    width: 60vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
}
.content-left p{
    font-size: 1rem;
    line-height: 25px;
}
.content-left h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: darkgreen;
}
.content-left span{
    font-weight: 500;
    text-shadow: #000;
    font-size: 1.3rem;
}

.content-right {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img{
    height: 280px;
    width: 400px;
}

.content-right ngb-carousel:first-child {
    width: 400px;
    height: 280px;
}


.div-vantagem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px 50px 20px 50px;
}
.div-vantagem h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: darkgreen;
}
.content-div-vantagem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    right: 0;
}

.content-right2 {
    width: 60vw;
    text-align: right;
    left: 0;
    right: 0;
}
.content-right20 {
    width: 60vw;
    text-align: left;
    left: 0;
    right: 0;
    padding: 5px 0px 0px 20px;
}

.content-left2 {
    text-align: center;
    width: 40vw;
}

.content-left2 img {
    height: 200px;
    width: 300px;
    margin-top: -20px;
}
.content-left20 img {
    height: 200px;
    width: 300px;
    margin-top: 0px;
    border-radius: 10px;
}

.content-right2 p{
    font-size: 1rem;
    line-height: 25px;
}
.content-right2 span{
    font-weight: 500;
    text-shadow: #000;
    font-size: 1.3rem;
}
.content-right20 p{
    font-size: 1rem;
    line-height: 25px;
}
.content-right20 span{
    font-weight: 500;
    text-shadow: #000;
    font-size: 1.3rem;
}

.paleta-cores {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 50px 30px 50px;
    text-align: center;
}

.paleta-cores h1{
    font-size: 1.2rem;
    font-weight: 600;
    color: darkgreen;
}

#first{
    margin-left: 10px;
}

.paleta-cores img{
    width: 150px;
    margin-right: 25px;
    margin-bottom: 5px;
}

.certificacoes{
    width: 100%;
    padding: 20px 50px 20px 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificacoes .content{
    text-align: left;
    margin-top: 10px;
}

.certificacoes p{
    font-size: 1rem;
    line-height: 20px;
}
.certificacoes h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: lightgreen;
}
.certificacoes span{
    font-size: 1rem;
    line-height: 20px;
    color: lightgreen;
    font-weight: 500;
}

.precos{
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.precos h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: darkgreen;
}
.precos h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 20px;
}
.precos p{
    font-size: 1rem;
    line-height: 20px;
}
.precos span{
    font-size: 1rem;
    line-height: 20px;
    color: darkgreen;
    font-weight: 500;
}

.fluxograma {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px 20px 50px;
}

.fluxograma h1{
    font-size: 1.2rem;
    font-weight: 600;
    color: darkgreen;
}

.fluxograma img{
    height: 400px;
    width: 750px;
}

.gestaoprod {
    background-color: #f0f0f0;
    padding: 15px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gestaoprod h1{
    font-size: 1.2rem;
    font-weight: 600;
    color: darkgreen;
    margin-bottom: 5px;
}
.gestaoprod span{
    font-size: 1.1rem;
    font-weight: 600;
    color: darkgreen;
    margin-bottom: 5px;
}
.gestaoprod p{
    font-size: 1rem;
    line-height: 20px;
}
.gestaoprod li{
    font-size: 1rem;
    line-height: 20px;
}
.gestaoprod ul{
    margin-left: -20px;
}

.gestaoprod img{
    width: 200px;
    border-radius: 100px;
    box-shadow: black;
}

.titulos-div {
    font-size: 1.2rem;
    font-weight: 600;
    color: darkgreen;
    margin-bottom: 5px;
}

.instalacao {
    padding: 20px 50px 20px 50px;
    display: flex;
}
.instalacao img{
    height: 230px;
    border-radius: 10px;
}

.limpeza {
    padding: 20px 50px 20px 50px;
    display: flex;
    background-color: #f0f0f0;
}
.limpeza img{
    height: 100px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.conteudo-texto-limpeza p {
    font-size: 1rem;
    line-height: 17px;
}

.conteudo-texto-inst {
    width: 75vw;
    text-align: end;
}
.conteudo-texto-inst p {
    font-size: 1rem;
    line-height: 17px;
}
.conteudo-img-inst {
    width: 25vw;
}