<div class="div-header">
    <h1>PRODUTO</h1>
    <p>Conheça um pouco mais sobre o produto que produzimos.</p>
</div>

<div class="div-produto">
    <div class="content-left">
      <p>
        <span style="color: darkgreen;">Desenvolvemos pisos feitos a partir da borracha granulada de pneus reciclados, <br>
            que podem ser utilizados em:
        </span> <br> <br>
        Playground - Áreas de recreação infantil - Calçadas, caminhos, pistas de corrida e caminhadas -
        Quadras, academias - Ambientes corporativos - Beiras de piscinas, spas - Pisos táteis - 
        Faixa Demarcatória de Escada - Símbolo Internacional do Cadeirante - Elementos táteis.
      </p>
      <p>
        Dispomos de uma linha completa de produtos voltados para a orientação de deficientes visuais 
        e espaços destinados a cadeirantes, todos de acordo com as especificações da NBR 9050.
      </p>
      <p style="font-size: 0.9rem; line-height: 0.9rem; margin-left: -5px; margin-top: 20px;">
        Indicados para: <span style="font-size: 0.9rem;">casas lotéricas, agências bancárias, hospitais, 
        escolas, universidades, supermercados, shoppings etc... </span>
      </p>
    </div>
  
    <!--Imagens Carousel-->
    <div class="content-right">
        <ngb-carousel *ngIf="images" class="mat-elevation-z2">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/produtos-aplicacao/img56.jpg" alt="produto">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/produtos-aplicacao/img57.jpg" alt="produto">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/produtos-aplicacao/img58.jpg" alt="produto">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/produtos-aplicacao/img59.jpg" alt="produto">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/produtos-aplicacao/img60.jpg" alt="produto">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/produtos-aplicacao/img61.jpg" alt="produto">
              </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="paleta-cores">
  <h1>PALETA DE CORES DISPONÍVEIS</h1>
  <img src="assets/produto-cores/amarelo.jpg" alt="amarelo" id="first" class="mat-elevation-z2">
  <img src="assets/produto-cores/azul.jpg" alt="azul" class="mat-elevation-z2">
  <img src="assets/produto-cores/cinza.jpg" alt="cinza" class="mat-elevation-z2">
  <img src="assets/produto-cores/laranja.jpg" alt="laranja" class="mat-elevation-z2">
  <img src="assets/produto-cores/preto.jpg" alt="preto" class="mat-elevation-z2">
  <img src="assets/produto-cores/verde.jpg" alt="verde" class="mat-elevation-z2">
  <img src="assets/produto-cores/vermelho.jpg" alt="vermelho" class="mat-elevation-z2">
</div>


<div class="div-vantagem">
  <h1>VANTAGENS</h1>
  <div class="content-div-vantagem">
    <div class="content-left2">
      <img src="assets/pneu-reciclavel.png" alt="pneu-reciclavel" >
    </div>
  
    <div class="content-right2">
      <p>
        <span>L</span>uta contra o aquecimento global <span>| </span>
        <span>F</span>ácil aplicação, não necessita de cola ou remoção do piso existente <span>| </span>
        <span>P</span>ode ser aplicado em qualquer tipo de piso <span>| </span>
        <span>A</span>tende as especificações das prefeituras, pois seguem as Normas ABNT <span>| </span>
        <span>D</span>renante, aumentando a permeabilidade do solo em chuvas <span>| </span>
        <span>I</span>solante térmico e acústico <span>| </span>
        <span>S</span>em manutenção e fácil limpeza <span>| </span>
        <span>P</span>ermite a passagem da água para o solo, proporcionando as plantas e árvores a água necessária, evitando a quebra do pavimento <span>| </span>
        <span>C</span>onforto térmico (absorve e retém menos calor que o concreto) <span>| </span>
        <span>R</span>eduz lesões por queda e impactos <span>| </span>
        <span>N</span>ão atrai e nem mantém a umidade, reduz poeiras, musgos e fungos.      
      </p>
    </div>
  </div>
</div>

<div class="div-produto">
  <div class="content-left">
    <h1>CURIOSIDADES</h1>
    <p>
      Segundo a Revista Veja, mais de 30% dos acidentes com crianças acontecem em playgrounds, 
      o que pode ocasionar traumas sofridos pela queda em um piso inadequado e sem amortecimento. 
      Por esse motivo a ABNT se inspirou em rigorosas normas de segurança europeias que utilizam 
      o método HIC – Head injury Criterion (Critério de Traumatismo Craniano), para proteger a parte 
      mais delicada do corpo da criança: a cabeça. 
    </p>
    <p>
      Para o especialista em fisioterapia do esporte pela Unifesp, 
      Renan Malvestio grande parte das lesões em corredores se origina por impacto 
      em locais inadequados para a prática do esporte.
    </p>
    <p>
      O Shopping Downtown localizado na Barra da Tijuca/RJ reduziu o número de funcionários 
      exclusivos para limpeza na área arborizada, de seis passou para um, pois inovou ao escolher 
      o piso de borracha reciclada e sustentável para revestir a gola das árvores. 
    </p>
  </div>

  <!--Imagens Carousel-->
  <div class="content-right">
      <ngb-carousel *ngIf="images" class="mat-elevation-z2">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/curiosidades1.jpg" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/curiosidades2.jpg" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/curiosidades3.jpg" alt="Random third slide">
          </div>
        </ng-template>
      </ngb-carousel>
  </div>
</div>

<div class="precos">
  <h1>FAIXA DE PREÇO</h1>
  <p>O <span>Preço metro</span> é bastante acessível em termos de investimento 
    porque a borracha é um material versátil, pode ser aplicada em 
    qualquer tipo de ambiente e sua vida útil é longa.
  </p>
  <p>O preço pode variar de acordo com a espessura e quantidade. 
    Preços por quantidade:
  </p>
  <h2>De 1 até 39 Placas - R$ 35,00* cada;</h2>
  <h2>40 Placas (10m²) - R$30,00* cada;</h2>
  <h2>100 Placas (25m²) - R$26,00* cada;</h2>
  <h2>200 Placas (50m²) - R$23,00* cada</h2>
  <p><span>*Valores podem ser negociados.</span></p>
</div>

<div class="div-header">
  <h1>PROCESSO DE FABRICAÇÃO</h1>
  <p>Veja como produzimos nossos pisos.</p>
</div>

<div class="div-vantagem" style="background-color: #f0f0f0;">
  <div class="content-div-vantagem">
    <div class="content-left20">
      <img src="assets/teste.PNG" alt="pneu-reciclavel" class="mat-elevation-z2">
    </div>
  
    <div class="content-right20">
      <p>
        No Centro de coleta, é realizada a separação dos 
        pneus, sendo os de passeio encaminhados para a 
        raspagem.      
      </p>
      <p>
        Depois passam pelo processo de trituração, lavagem 
        e secagem; a borracha triturada é enviada para a 
        fábrica, juntamente com a matéria- prima recebida 
        do fornecedor (CBL- reciclagem).
      </p>
      <p>
        Caso seja necessário a borracha passa novamente 
        pelo processo de trituração até atingir a granulação 
        adequada (depende do tipo de piso que será 
        produzido), posteriormente os grãos são tingidos.
      </p>
      <p>
        Após tingidos, são prensados, moldados e seguido 
        dos recortes.
      </p>
    </div>
  </div>
</div>


<div class="fluxograma">
  <h1>FLUXOGRAMA</h1>
  <img src="assets/fluxograma.jpg" alt="organograma" >
</div>

<div class="gestaoprod">
  <div class="textoprod">
    <h1>GESTÃO DA QUALIDADE</h1>
    <p>A principal ferramenta de Lean Manufacturing utilizada para 
      avaliar e melhorar a produção da empresa é: O 5S , cuja o 
      objetivo é eliminar o desperdício causado por más estações de 
      trabalho e condições.
    </p>
    <ul>
      <li><span>Seiri:</span> evitar o desperdício de recursos e a falta de espaço;</li>
      <li><span>Seiton:</span> organizar todo o espaço de trabalho para que a 
        produção seja mais efetiva;
      </li>
      <li><span>Seiso:</span> trabalhar para que todo o ambiente fique livre e 
        limpo;
      </li>
      <li><span>Seiketsu:</span> determinar as normas de triagem, arrumação e 
        limpeza que vão facilitar a ergonomia e a saúde da fábrica;
      </li>
      <li><span>Shitsuke:</span> serve para encorajar os seus colaboradores e 
        manter todos ajudando.
      </li>
    </ul>
  </div>
  <div class="imagemprod">
    <img src="assets/5s.jpg" alt="" class="mat-elevation-z2">
  </div>
</div>

<div class="div-header">
  <h1>INSTALAÇÃO LIMPEZA E CUIDADOS</h1>
</div>

<div class="instalacao">
  <div class="conteudo-img-inst">
    <img src="assets\ilovepdf_images-extracted\instalacao.jpg" alt="instalacao" class="mat-elevation-z2">
  </div>
  <div class="conteudo-texto-inst">
    <h1 class="titulos-div">INSTALAÇÃO DO PISO</h1>
    <p>
      Prévio a instalação, deixar as placas descansarem em pilhas 
      de cinco peças por três dias, para que voltem ao tamanho 
      original;
    </p>
    <p>
      O contrapiso deve estar limpo e seco com antecedência de 
      quatro dias (sem lavagem ou chuvas);
    </p>
    <p>
      As placas devem ser instaladas na última fase da obra, após a 
      jardinagem e limpeza do demais pisos; 
    </p>
    <p>
      Delimitar o local para que pessoas não circulem nos dias de 
      instalação e nos seguintes. 
    </p>
    <p>
      No processo de instalação considerar espaçamento de 3 a 5 
      mm afim de permitir a dilatação das placas (característica da 
      borracha); 
    </p>
    <p>
      As placas recortadas deverão ser instaladas no mesmo dia.
    </p>
  </div>
</div>

<div class="limpeza">
  <div class="conteudo-texto-limpeza">
    <h1 class="titulos-div">LIMPEZA, CUIDADOS E DURABILIDADE</h1>
    <p>
      Em geral, recomenda- se varrer diariamente.
    </p>
    <p>
      Em áreas externas para limpar qualquer sujeira, como 
      migalhas, poeiras e folhas, basta varrer. Caso seja 
      necessário, o uso de uma mangueira é indicado. Em 
      ambientes com grande fluxo de pessoas, é recomendável 
      fazer higienização regularmente com água e pano úmido.
    </p>
    <p>
      Para limpar a área interna o ideal é utilizar um aspirador 
      e passar um pano úmido sobre a superfície.
    </p>
    <p>
      <span>
        Não utilizar produtos abrasivos como alvejantes, água 
        sanitária, desinfetantes ou demais limpadores que 
        podem agredir a aparência e durabilidade do produto.  
      </span> 
        
    </p>
    <p>
      <b>A vida útil são de 20 anos.</b>
    </p>
  </div>
  <div class="conteudo-img-limpeza">
    <img src="assets\ilovepdf_images-extracted\limpeza1.jpg" alt="instalacao" class="mat-elevation-z2">
    <img src="assets\ilovepdf_images-extracted\limpeza2.jpg" alt="instalacao" class="mat-elevation-z2">
  </div>
</div>


<div class="certificacoes">
  <div class="content">
    <h1>SELOS E CERTIFICAÇÕES</h1>
    <p>
      Reconhecida pelo <span>GBC Brasil (Green Building 
        Council Brasil)</span>;
    </p>
    <p>Reconhecida pelo <span>IBAMA</span>;</p>
    <p>É uma das primeiras empresas do Brasil ter os pisos 
      de borracha certificados pela <span>ABNT</span>;
    </p>
    <p>
      Mais uma certificação dada pelo mercado de 
      atuação, pisos de baixa <span>Flamabilidade</span> (índice de 
      quanto uma substância ou objeto pode ser 
      inflamável).
    </p>
  </div>

  <div class="imagenscert">
    <img src="assets/certificacoes/todas.PNG" alt="certificacoes" class="mat-elevation-z2">
  </div>
</div>